<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./favicon.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Health and Medicine Information</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1><img src="./favicon.jpg" alt="Logo" /></h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul class="nav-ul">
          <li><a href="#/Beranda">Beranda</a></li>
          <li><a href="#/Informasi-Obat">Informasi Obat</a></li>
          <li><a href="#/Edukasi">Edukasi</a></li>
          <li><a href="#/Kelolaobat" class="kelola" >Kelola Obat</a></li>







          
          <li>
            <a
              href="#/Login"
              id="loginLink"
              style="
                color: #2d511d;
                font-weight: bold;
                border-radius: 20px;
                width: 80px;
                background-color: white;
              "
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <div class="login-form" id="login-form">
      <h2>Sign In</h2>
      <form id="signInForm">
        <div class="form-group">
          <label for="email">Email or Phone Number</label>
          <input type="text" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <input type="checkbox" id="remember-me" name="remember-me" />
          <label for="remember-me">Remember Me</label>
        </div>
        <button type="submit" class="login-btn" id="signInButton">
          Sign In
        </button>
      </form>
      <p>Don't have an account? <a href="#" id="signUpLink">Sign Up</a></p>
      <p>Need help?</p>
    </div>

    <div class="signup-form" id="signup-form" style="display: none">
      <h2>Sign Up</h2>
      <form id="signUpForm">
        <div class="form-group">
          <label for="new-name">Name</label>
          <input type="text" id="new-name" name="new-name" required />
        </div>
        <div class="form-group">
          <label for="new-email">Email</label>
          <input type="email" id="new-email" name="new-email" required />
        </div>
        <div class="form-group">
          <label for="new-password">Password</label>
          <input
            type="password"
            id="new-password"
            name="new-password"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>
        <button type="submit" class="signup-btn" id="signUpButton">
          Sign Up
        </button>
      </form>
    </div>

    <main id="mainContent">
      <section id="Beranda">
        <div class="hero">
          <div class="TampilAwal">
            <h1>Welcome to the Health and Medicine Website</h1>
            <p>
              Halo, dan selamat datang di platform kami. Kami sangat senang menyambut Anda di sini. Platform ini dirancang untuk memudahkan akses informasi kesehatan dan obat-obatan terkini di Indonesia. Dengan antarmuka yang user-friendly dan konten yang selalu diperbarui, kami berkomitmen menyediakan informasi yang akurat dan relevan. Anda dapat menemukan artikel edukatif, tips kesehatan, dan ulasan lengkap tentang obat-obatan di sini.

Kami mengundang Anda untuk mengeksplorasi berbagai fitur yang kami tawarkan, seperti artikel mendalam, video tutorial, dan infografis informatif. Kami juga menghargai masukan Anda untuk membantu kami menjadi lebih baik. Kami berkomitmen menjaga privasi dan keamanan data Anda sesuai dengan standar keamanan digital terbaik.

Nikmati berbagai hal tentang kessehatan di sini, yang dirancang untuk mendukung gaya hidup sehat Anda. Dengan pengetahuan yang tepat dan dukungan memadai, setiap orang bisa mencapai kesehatan optimal. Terima kasih telah mempercayakan kebutuhan informasi kesehatan Anda kepada kami. Mari bersama-sama menuju hidup yang lebih sehat dan sejahtera. Selamat menjelajah, dan semoga pengalaman Anda di sini bermanfaat! :]
            </p>
          </div>
        </div>

        <div class="obat">
          <h2 class="heading">Informasi Obat</h2>
          <div class="groupObat">

          <div class="jenisObat">
  <a href="https://www.alodokter.com/seperti-ini-cara-mengatasi-luka-bakar-pada-anak-yang-tepat">
    <div class="ellipse"></div>
    <div class="text">Luka Bakar</div>
  </a>
</div>
<div class="jenisObat">
  <a href="https://sehatnegeriku.kemkes.go.id/baca/tips-sehat/20170403/4620310/kenali-diare-anak-dan-cara-pencegahannya/">
    <div class="ellipse"></div>
    <div class="text">Diare</div>
  </a>
</div>
<div class="jenisObat">
  <a href="https://www.alodokter.com/berikut-daftar-obat-maag-yang-perlu-anda-ketahui">
    <div class="ellipse"></div>
    <div class="text">Sakit Maag</div>
  </a>
</div>
<div class="jenisObat">
  <a href="https://www.alodokter.com/berbagai-jenis-obat-mual-muntah">
    <div class="ellipse"></div>
    <div class="text">Mual-mual</div>
  </a>
</div>
</div>

          <div class="lihat-semua">
            <div class="containerText">
              <a href="">
                <p>Lihat Semua</p>
              </a>
            </div>
          </div>
        </div>

        <div class="edukasi">
          <div class="judul">
            <h2 class="heading2">Edukasi</h2>
            <a href="#Edukasi">Lihat Semua</a>
          </div>

          <div class="groupEdukasi">
            <div class="VideoEdukasi">
              <a href="https://youtu.be/vGIGTX0x46Q?si=F7hp0uMtwzzXZCce">
                <img src="Edukasi-Tentang-Obat-1.jpg" alt="Video 1" />
                <h3>Peran Obat dalam Menghancurkan Penyakit</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/3rmwhearFKU?si=a0wUmFOIg8Yovc5G">
                <img src="obat-generik-dan-obat-paten.jpg" alt="Video 2" />
                <h3>Judul Video 2</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/URIDZtdDti0?si=ziKM8F09zjQi5xmn">
                <img src="obat-campur-campur.jpg" alt="Video 3" />
                <h3>Boleh gk yah minum obat asal asalan?</h3>
              </a>
            </div>

            <div class="VideoEdukasi">
              <a href="https://youtu.be/Q7ozaVytNo4?si=5xwRyAXQWBHnTvct">
                <img src="fakta-mitos-remaja.jpg" alt="Video 4" />
                <h3>Judul mitos atau fakta yah?</h3>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="Informasi-Obat">
        <div class="obat2">
          <div class="search">
            <form action="#">
              <input type="text" placeholder="Search Courses" name="search" />
              <button>
                <i class="fa fa-search" style="font-size: 18px"></i>
              </button>
            </form>
          </div>















          <h2 class="heading2">Informasi Obat</h2>
          <div class="groupObat2">
            
            <div class="jenisObat">
              <a href="https://www.alodokter.com/seperti-ini-cara-mengatasi-luka-bakar-pada-anak-yang-tepat">
                <div class="ellipse"></div>
                <div class="text2">Luka Bakar</div>
              </a>
            </div>
            
            <div class="jenisObat">
              <a href="https://sehatnegeriku.kemkes.go.id/baca/tips-sehat/20170403/4620310/kenali-diare-anak-dan-cara-pencegahannya/">
                <div class="ellipse"></div>
                <div class="text2">Diare</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.alodokter.com/berikut-daftar-obat-maag-yang-perlu-anda-ketahui">
                <div class="ellipse"></div>
                <div class="text2">Sakit Maag</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.alodokter.com/berbagai-jenis-obat-mual-muntah">
                <div class="ellipse"></div>
                <div class="text2">Mual-mual</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://rsupsoeradji.id/yuk-gunakan-obat-anti-nyeri-dengan-bijak/">
                <div class="ellipse"></div>
                <div class="text2">Nyeri-Nyeri</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.halodoc.com/artikel/ini-11-obat-radang-tenggorokan-untuk-dewasa-tanpa-resep-dokter">
                <div class="ellipse"></div>
                <div class="text2">Radang</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.alodokter.com/7-obat-sakit-mata-yang-ampuh-dan-aman">
                <div class="ellipse"></div>
                <div class="text2">Sakit Mata</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.halodoc.com/artikel/ini-7-rekomendasi-obat-sariawan-yang-ampuh-dan-mudah-ditemukan">
                <div class="ellipse"></div>
                <div class="text2">Sariawan</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.halodoc.com/artikel/ini-rekomendasi-obat-bab-keras-yang-tersedia-di-apotek">
                <div class="ellipse"></div>
                <div class="text2">Susah BAB</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.alodokter.com/7-obat-keputihan-yang-ampuh-atasi-keluhan-dan-penyebabnya">
                <div class="ellipse"></div>
                <div class="text2">Keputihan</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.k24klik.com/blog/obat-nyeri-otot-dan-sendi/">
                <div class="ellipse"></div>
                <div class="text2">Nyeri Otot</div>
              </a>
            </div>

            <div class="jenisObat">
              <a href="https://www.k24klik.com/blog/obat-batuk-pilek-paling-ampuh/">
                <div class="ellipse"></div>
                <div class="text2">Batuk Pilek</div>
              </a>
            </div>
          </div>
        </div>

        <div class="drug-list">
          <h2>Daftar Obat</h2>
          <div class="drug-grid"></div>
          <div class="pagination">
            <a href="#">&laquo;&laquo;</a>
            <a href="#">&lsaquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <span>....</span>
            <a href="#">16</a>
            <a href="#">17</a>
            <a href="#">18</a>
            <a href="#">19</a>
            <a href="#">20</a>
            <a href="#">&rsaquo;</a>
            <a href="#">&raquo;&raquo;</a>
          </div>
        </div>
      </section>

















      <section id="Edukasi" class="edukasi-menu">
        <div class="container">
          <h2>Video Edukasi Kesehatan</h2>
          <div class="video-grid">
            <!-- Video 1 -->
            <div class="video-item">
              <img src="Edukasi-Tentang-Obat-1.jpg" alt="Video 1" />
              <h3>Peran Obat dalam Menghancurkan Penyakit</h3>
              <p>
                Mari perhatikan video ini karena penting loh untuk pengetahuan
                kita tentang peran obat yang harus kita ketahui:'
              </p>
              <a href="https://youtu.be/vGIGTX0x46Q?si=F7hp0uMtwzzXZCce"
                >Tonton Video 1 di YouTube</a
              >
            </div>

            <!-- Video 2 -->
            <div class="video-item">
              <img src="obat-generik-dan-obat-paten.jpg" alt="Video 2" />
              <h3>Judul Video 2</h3>
              <p>
                Jadi kita harus tau nih obat-obtan yang mana yang dapat kita
                beli langsung dan mana obat yang harus dengan resep dokter
              </p>
              <a href="https://youtu.be/3rmwhearFKU?si=a0wUmFOIg8Yovc5G"
                >Tonton Video 2 di YouTube</a
              >
            </div>

            <!-- Video 3 -->
            <div class="video-item">
              <img src="obat-campur-campur.jpg" alt="Video 3" />
              <h3>Boleh gk yah minum obat asal asalan?</h3>
              <p>
                Jangan minu obat campur campur yah karena obat yang
                campur-campur akan berakibat fatal dan berbahaya bagi hidup
                kita. mari lebih care terhadapt dir kita tentang pentingnya
                minum obat sesuai anjuran dokter. Karena kita gk belajar tentang
                kandungan obat dan tentang obat obatan. Banyak bahys deh kalo
                minum obat asal asalan dan campur campur :],
              </p>
              <a href="https://youtu.be/URIDZtdDti0?si=ziKM8F09zjQi5xmn"
                >Tonton Video 3 di YouTube</a
              >
            </div>

            <!-- Video 4 -->
            <div class="video-item">
              <img src="fakta-mitos-remaja.jpg" alt="Video 4" />
              <h3>Judul mitos atau fakta yah?</h3>
              <p>
                Ini nih fakta dan mitos yang berkembang di kalangan masyarakat
                dari yang muda sampai yang tua. Yuk simak video di bawah ini
                dengan baik yah. Semoga kita gak salah lagi dan bisa membedakan
                mana yang fakta dan mitos karena itu penting loh.
              </p>
              <a href="https://youtu.be/Q7ozaVytNo4?si=5xwRyAXQWBHnTvct"
                >Tonton Video 4 di YouTube</a
              >
            </div>

            <!-- Video 5 -->
            <div class="video-item">
              <img src="no-rokok.jpg" alt="Video 5" />
              <h3>Jangan Ngerokok Lagi Yahh</h3>
              <p>
                Buat kita nih yang masih suka merokok, ayuk jauhi ngerokok yuk.
                kita tahu bahayanya merokok dan kita juga sudah tau manfat
                menjauhi rokok. yok tonton video biar kita sehat dan orang orang
                di sekitar kita juga ikut sehat.
              </p>
              <a href="https://youtu.be/fUlfpFi1Dao?si=kzp6dOdc0faZOaF-"
                >Tonton Video 5 di YouTube</a
              >
            </div>

            <!-- Video 6 -->
            <div class="video-item">
              <img src="8 cara.jpg" alt="Video 6" />
              <h3>8 Tips Kesehatan</h3>
              <p>
                Ini nih tips kesehatan yang mungkin banyak orang tau tapi sering
                lupa tau bahhkan sering dilupakan loh. Tolong jaga kesehatan
                yang karena kesehatan itu mahal banget guyss
              </p>
              <a href="https://youtu.be/_JtsswlZzPg?si=zrKFkuyESZSOvlwW"
                >Tonton Video 6 di YouTube</a
              >
            </div>
          </div>
        </div>
      </section>
      <section id="Kelolaobat" class="kelola-obat"></section>
    </main>












    <footer>
      <p>
        Calon Dokter Muda
        <a href="http://www.kalbe.co.id" target="_blank" rel="noreferrer"
          >IDProgramer</a
        >
      </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>