<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./images/favicon.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Health and Medicine Information</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">&#9776;</button>
      </div>
      <div class="app-bar__brand">
        <h1>
          <img src="./images/favicon.jpg" alt="Logo" />
        </h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul class="nav-ul">
          <li><a href="/#">Beranda</a></li>
          <li><a href="#/informasiobat">Informasi Obat</a></li>
          <li><a href="#/edukasi">Edukasi</a></li>
          <li>
            <a
              href="#/login"
              id="loginLink"
              style="
                color: #2d511d;
                font-weight: bold;
                border-radius: 20px;
                width: 80px;
                background-color: white;
              "
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>

    <footer>
      <p>
        Calon Dokter Muda
        <a href="http://www.kalbe.co.id" target="_blank" rel="noreferrer"
          >IDProgramer</a
        >
      </p>
    </footer>
  </body>
</html>
